# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import goog_api_key

# Configure gmaps
gmaps.configure(api_key=goog_api_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp($^\circ$F),Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Pimenta Bueno,BR,-11.6725,-61.1936,72.73,89,96,1.79,heavy intensity rain
1,1,Samarai,PG,-10.6167,150.6667,84.99,72,50,12.97,scattered clouds
2,2,Anadyr,RU,64.7500,177.4833,36.10,93,40,38.03,scattered clouds
3,3,Hobart,AU,-42.8794,147.3294,51.66,65,75,17.27,broken clouds
4,4,Chalette-Sur-Loing,FR,48.0134,2.7359,52.07,90,100,10.20,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the coldest you would like the temperature to be for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the hottest you would like the temperature to be for your trip? "))

What is the coldest you would like the temperature to be for your trip? 50
What is the hottest you would like the temperature to be for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp($^\circ$F)"]<= max_temp) & (city_data_df["Max Temp($^\circ$F)"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp($^\circ$F),Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Pimenta Bueno,BR,-11.6725,-61.1936,72.73,89,96,1.79,heavy intensity rain
3,3,Hobart,AU,-42.8794,147.3294,51.66,65,75,17.27,broken clouds
4,4,Chalette-Sur-Loing,FR,48.0134,2.7359,52.07,90,100,10.20,overcast clouds
6,6,Ishigaki,JP,24.3448,124.1572,73.53,100,75,8.05,mist
7,7,Codrington,AU,-38.2667,141.9667,53.83,57,89,13.65,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp($^\circ$F),Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Pimenta Bueno,BR,-11.6725,-61.1936,72.73,89,96,1.79,heavy intensity rain
3,3,Hobart,AU,-42.8794,147.3294,51.66,65,75,17.27,broken clouds
4,4,Chalette-Sur-Loing,FR,48.0134,2.7359,52.07,90,100,10.20,overcast clouds
6,6,Ishigaki,JP,24.3448,124.1572,73.53,100,75,8.05,mist
7,7,Codrington,AU,-38.2667,141.9667,53.83,57,89,13.65,overcast clouds
8,8,New Norfolk,AU,-42.7826,147.0587,51.30,71,98,5.01,overcast clouds
9,9,Cidreira,BR,-30.1811,-50.2056,69.62,60,6,8.12,clear sky
10,10,Guiyang,CN,26.5833,106.7167,50.49,100,100,6.71,mist
11,11,Pangkalanbuun,ID,-2.6833,111.6167,73.27,95,100,1.86,overcast clouds
12,12,Port Blair,IN,11.6667,92.7500,76.66,85,100,3.47,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp($^\circ$F)", "Current Weather", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp($^\circ$F),Current Weather,Lat,Lng
0,Pimenta Bueno,BR,72.73,heavy intensity rain,-11.6725,-61.1936
3,Hobart,AU,51.66,broken clouds,-42.8794,147.3294
4,Chalette-Sur-Loing,FR,52.07,overcast clouds,48.0134,2.7359
6,Ishigaki,JP,73.53,mist,24.3448,124.1572
7,Codrington,AU,53.83,overcast clouds,-38.2667,141.9667
8,New Norfolk,AU,51.30,overcast clouds,-42.7826,147.0587
9,Cidreira,BR,69.62,clear sky,-30.1811,-50.2056
10,Guiyang,CN,50.49,mist,26.5833,106.7167
11,Pangkalanbuun,ID,73.27,overcast clouds,-2.6833,111.6167
12,Port Blair,IN,76.66,overcast clouds,11.6667,92.7500

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp($^\circ$F),Current Weather,Lat,Lng,Hotel Name
0,Pimenta Bueno,BR,72.73,heavy intensity rain,-11.6725,-61.1936,
3,Hobart,AU,51.66,broken clouds,-42.8794,147.3294,
4,Chalette-Sur-Loing,FR,52.07,overcast clouds,48.0134,2.7359,
6,Ishigaki,JP,73.53,mist,24.3448,124.1572,
7,Codrington,AU,53.83,overcast clouds,-38.2667,141.9667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": goog_api_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp($^\circ$F),Current Weather,Lat,Lng,Hotel Name
0,Pimenta Bueno,BR,72.73,heavy intensity rain,-11.6725,-61.1936,Cristalina Palace Hotel
3,Hobart,AU,51.66,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
4,Chalette-Sur-Loing,FR,52.07,overcast clouds,48.0134,2.7359,ibis Montargis
6,Ishigaki,JP,73.53,mist,24.3448,124.1572,Hotel Peace Land Ishigakijima
7,Codrington,AU,53.83,overcast clouds,-38.2667,141.9667,

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [17]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp($^\circ$F),Current Weather,Lat,Lng,Hotel Name
0,Pimenta Bueno,BR,72.73,heavy intensity rain,-11.6725,-61.1936,Cristalina Palace Hotel
3,Hobart,AU,51.66,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
4,Chalette-Sur-Loing,FR,52.07,overcast clouds,48.0134,2.7359,ibis Montargis
6,Ishigaki,JP,73.53,mist,24.3448,124.1572,Hotel Peace Land Ishigakijima
8,New Norfolk,AU,51.30,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [19]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [20]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp($^\circ$F)}</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [21]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Cristalina Palace Hotel</dd>\n<dt>City</dt><dd>Pimenta Bueno</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 72.73</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>St Ives Hobart Accommodation Tasmania</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 51.66</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ibis Montargis</dd>\n<dt>City</dt><dd>Chalette-Sur-Loing</dd>\n<dt>Country</dt><dd>FR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 52.07</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Peace Land Ishigakijima</dd>\n<dt>City</dt><dd>Ishigaki</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>mist and 73.53</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Shingles Riverside Cottages</dd>\n<dt>City</dt><dd>New Norfolk</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 51.3</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Castelo</dd>\n<dt>City</dt><dd>Cidreira</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 69.62</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Guo Tai Hotel Guiyang</dd>\n<dt>City</dt><dd>Guiyang</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>mist and 50.49</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Kecubung Hotel</dd>\n<dt>City</dt><dd>Pangkalanbuun</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.27</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Welcomhotel By ITC Hotels, Bay Island, Port Blair</dd>\n<dt>City</dt><dd>Port Blair</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.66</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.83</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [22]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -11.6725  -61.1936
3  -42.8794  147.3294
4   48.0134    2.7359
6   24.3448  124.1572
8  -42.7826  147.0587
9  -30.1811  -50.2056
10  26.5833  106.7167
11  -2.6833  111.6167
12  11.6667   92.7500
13  -9.8000 -139.0333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [25]:
# Add a marker layer for each city to the map. 
marker = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))